@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.navigation{
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.main{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main .text h1{
  font-family: 'MonteCarlo', cursive;
  color: #5d6468;
  font-weight: lighter;
}

.main .text p{
  color: #AEBBC5;
  font-family: 'Gideon Roman', cursive;
}